/*
                       ▼ README: CONVENTIONS ▼
     I adhere to a number of conventions for the sake of consistency.

*/

:root {
    --custom-black:      #000000; --custom-white:       #FFFFFF; --custom-red:        #68372B;
    --custom-cyan:       #70A4B2; --custom-purple:      #6F3D86; --custom-green:      #588D43;
    --custom-blue:       #352879; --custom-yellow:      #B8C76F; --custom-orange:     #6F4F25;
    --custom-brown:      #433900; --custom-light-red:   #9A6759; --custom-dark-grey:  #444444;
    --custom-grey:       #6C6C6C; --custom-light-green: #9AD284; --custom-light-blue: #6C5EB5;
    --custom-light-grey: #959595;
}

* {
      user-select: none; /* This will disable text selection on the entire page */
      -webkit-user-select: none; /* For Safari and Chrome */
      -moz-user-select: none; /* For Firefox */
      -ms-user-select: none; /* For IE10+/Edge */
      margin: 0;
      padding: 0;
}

body, html {
      background-color: var(--custom-blue);
      color: var(--custom-white);
}

.frame {
    position: absolute;
    border: 2px solid var(--custom-white);
    box-shadow: 3px 3px 10px var(--custom-dark-grey);
    overflow: hidden;
}

.frame-header {
    background-color: var(--custom-light-blue);
    margin: 0;
    color: var(--custom-cyan);
    height: 1em;
    padding: 0.1em;
    padding-left: 0.3em;
    cursor: move;
}

.frame-entry {
    background-color: var(--custom-blue);
    padding: 2em;
}

footer {
    color: var(--custom-white);
    background-color: var(--custom-light-blue);
    height: 1.5em;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* consider in terms of vw */
}
